@font-face {
  font-family: Belwe;
  src: url("../fonts/OPTIBelwe-Medium.otf");
  font-style: normal;
}

main {
  width: 840px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

header, footer {
  min-width: 840px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2C4647;
}

header {
  color: #83D721;
  height: 80px;
  background: linear-gradient(to bottom, #1B2D2D 85%, #2C4647 85%);
}

header h1 {
  padding-top: 0.3em;
}

footer {
  color: #83D721;
  height: 60px;
}

footer h2 {
  line-height: 60px;
}

footer a {
  color: #ABFE2D;
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  color: white;
  transition: 0.3s;
}

h1 {
  margin: 0;
  font-family: Belwe;
  font-size: 2.8em;
}

h2 {
  margin: 0;
  font-family: Belwe;
  font-size: 1em;
}

.wrapper {
  margin-bottom: 10px;
  overflow: auto;
}

.wrapper .graph-days {
  float: left;
  width: 48%;
}

.wrapper .graph-time {
  float: right;
  width: 48%;
}
