<canvas id="canvas-days"></canvas>
<script>
    var ctx_day = document.getElementById('canvas-days').getContext('2d');
    var empty_day = [0,0,0,0,0,0,0];
    window.day_data = {
        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        datasets: [
            {
                label: '1v1',
                backgroundColor: window.chartColors.red,
                data: empty_day
            },
            {
                label: 'FFA',
                backgroundColor: window.chartColors.blue,
                data: empty_day
            },
        ]
    }
    window.day_chart = new Chart(ctx_day, {
        type: 'bar',
        data: window.day_data,
        options: {
            title: {
                display: true,
                text: 'Matches on a day'
            },
            tooltips: {
                mode: 'index',
                intersect: 'false'
            },
            responsive: true,
            scales: {
                xAxes: [{stacked: true}],
                yAxes: [{stacked: true}]
            }
        }
    });
</script>