<!-- div section toby -->
<div class="refresh" role="button">
    <div id="refresh"></div>
    Refresh Data
</div>
<div class="icon" role="img"></div>
<div class="bubble">
    <table>
        <thead>
            <tr>
                <td class="title" colspan="2">
                    Greetings, traveler!<br />
                    Here's the match status.
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="speech-bubble-queue">
                    <!-- No one is waiting in queue. -->
                    Please wait, I am digging up the data...
                </td>
            </tr>
            <tr>
                <td id="speech-bubble-matches">
                    <!-- There are no matches going on right now.-->
                </td>
            </tr>
        </tbody>
    </table>
    <div class="extra" id="speech-bubble-time">
        *
    </div>
</div>

<script>
    function update_data() {
        let getUrl = "{% url 'tobystats:getdata' %}";
        $.get(getUrl, function(django_data) {
            var parseDate = d3.timeParse("%Y-%m-%d %H:%M:%S");

            for (var key in django_data){
                if(django_data.hasOwnProperty(key))
                {
                    if(key==="recent") continue;
                    django_data[key].map(d => {
                        d.time = parseDate(d.time);
                        d.val = +d.val;
                });
                }
            }
            window.graph_data = django_data;
            const arrSum = arr => arr.reduce((a, b) => parseInt(a) + parseInt(b), 0);
            console.log(arrSum(Object.values(django_data['recent'])) - django_data['recent']['age']);
            if(arrSum(Object.values(django_data['recent'])) - parseInt(django_data['recent']['age']) === 0) {
                $("#speech-bubble-queue").html(
                    'Oh no, there is no one playing ranked!');
                $("#speech-bubble-matches").html("<br />");
            }
            else {
                $("#speech-bubble-queue").html(
                    'There are <span class="numbers" id="1v1q">x</span> players \
                    in <span class="type">1v1</span> queue<br /> \
                    and <span class="numbers" id="ffaq">y</span> players \
                    in <span class="type">FFA</span> queue.');
                $("#speech-bubble-matches").html(
                    'Currently there are <span class="numbers" id="1v1m">v</span> <span class="type">1v1</span> matches<br /> \
                    and <span class="numbers" id="ffam">w</span> <span class="type">FFA</span> matches going on.');
                $("#1v1q").html(django_data['recent']['1v1q']);
                $("#1v1m").html(django_data['recent']['1v1m']);
                $("#ffaq").html(django_data['recent']['ffaq']);
                $("#ffam").html(django_data['recent']['ffam']);
            }
            $("#speech-bubble-time").html('*this status is based on the query made <span id="query_age">z</span> minutes ago*');
            $("#query_age").html(django_data['recent']['age']);
            createGraph('ffam');
        });
    };

    document.getElementById('refresh').addEventListener('click', function() {
        alert("not implemented");
    });

    window.onload = update_data;
</script>